* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(31,41,51);
    color: rgb(228,231,235);
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header styles */
.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22,29,36,0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* Nav left */
.nav-icon {
    display: flex;
    align-items: center;
    margin: 5px 40px 5px 20px;
}
.nav-icon img {
    max-height: 50px;
    margin-right: 20px;
}
.nav-icon h1 {
    letter-spacing: 2.5px;
    font-weight: normal;
    font-size: 38px;
    margin: 0;
    padding: 0;
}
/* Nav Right */
.nav-links-container {
    margin: 15px 8px 8px 0;
}
.nav-links-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-links {
    text-decoration: none;
    color: rgb(228,231,235);
    margin: 0 12px 0 12px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.btn-twitch {
    display: block;
    background-color: rgb(100,64,164);
    text-transform: none;
    padding: 9px 22px;
    border-radius: 3px;
}
.btn-twitch-icon {
    width: 18px;
    margin-left: 8px;
    position: relative;
    top: 3px;
}

/* Content Space */
.spacer {
    height: 80px;
}

/* Section heads */
section {
    padding-top: 80px;
    margin: 0 160px 0 160px;
}
.section-header {
    text-align: center;
    text-transform: uppercase;
    color: rgb(71,184,250);
    letter-spacing: 1.2px;
    font-size: 28px;
    margin: 0  0 10px 0;
}
.section-paragraph {
    text-align: center;
    max-width: 460px;
    margin: 0 auto;
}

/* Connect section style */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.social-container {
    display: flex;
}
.social-link {
    text-decoration: none;
    color: rgb(228,231,235);
}
.social-icon {
    width: 140px;
}
.social-square {
    background: linear-gradient(rgb(124,212,51), rgb(71,184,250));
    padding: 15px;
}